<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jamal Cole - About</title>
    {{>links}}
    <link rel="stylesheet" href="css/about.css">
</head>

<body>
    {{>navbar}}

    <div class="about-container">

        <p><img src="images/person.jpg" alt=""> <span class='about'>About</span> <br> <br>
            Hey, I'm Jamal. I am from Oakland, California, United States of America
            I am an up and coming mix and mastering engineer with experience in the field of music for significant
            marks, independent artists, specialists, and experts.
            My enthusiasm is helping new specialists get through, so my intention is to keep my rates affordable to
            everybody.
            Enter your information to begin a discussion. I'd love to hear your story.
            (In Depth Bio)
            As a sound specialist, producer and artist situated in Oakland, CA, I've spent the most recent decade of my
            life working in studios and making records. Most as of late, I'd went through the most recent quite a while
            audio engineer apprentice. Being exposed to audio engineers who have more experience in the audion
            engineering field, I was able to practice and learn from my . At present, I work everyday for Green Day yet
            am constantly keen on getting more meetings!

            I have the experience and information to help take your undertaking to the following level. If you don't
            mind don't hesitate to reach me with any inquiries!

        </p>
    </div>

    {{>footer}}
    {{>scripts}}
</body>

</html>