<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    {{>links}}
    <link rel="stylesheet" href="css/faq.css">
</head>

<body>
    {{>navbar}}

    <h1>FAQ</h1>

    <div class="section">
        <div class="question">How does payment and file delivery work?</div>
        <div class="answer">We will maintain an email corespondance and you can send the files via attachment.
            For payment, you can use paypal, debit card and credit card once I send you the account details.
        </div>

    </div>

    <div class="section">
        <div class="question">What's the difference between mixing and mastering?</div>
        <div class="answer">
            Mixing is the meticulous process of changing the individual tracks/singular instruments in a mix, and audio
            mastering typically only deals with the stereo output of a mix. Music mastering comes in the wake of audio
            mixing and is the last creative and innovative process before releasing a tune or an album. A decent mixing
            and/or mastering engineer can likewise cause an assortment of melodies and vocals to feel like a cohesive
            and coherent project, sticking them all together.
        </div>
    </div>

    <div class="section">
        <div class="question">Will you steal my music?</div>
        <div class="answer">
            As a policy, I will NEVER share, send, or let anyone listen to your music during the mastering process.
            Until you've given me written permission, your music is top secret. As you can see from the tons of reviews
            from people who work with me, I take running my business very seriously because it's the way I put food on
            the table for my family. I'd never risk my reputation or my business by sharing someone's music without
            their permission.</div>
    </div>
    <div class="section">
        <div class="question">How does your pricing work?</div>
        <div class="answer">
            I attempt to keep the pricing (my charge in addition to the studio expense) as low as could be expected
            under the circumstances, particularly for Independent (non mainstream) artists. With certain studios this
            isn't possible, yet I'll give a valiant effort to work with my customers and give them the best arrangement
            I can.
            By and large, with regards to mixing, I charge per song. I discover it to be simpler for my work process and
            can ultimately save my clients money . The total mixing price relies upon how complex the mix for the song
            is and how much work should be done to finish the mix. I need to take the time important to get your tune to
            sound as incredible as it should. I like to go through in any event daily or two on most mixes. Removing
            them from the studio, tuning in to them in various conditions and giving existence to permit the blends to
            soak in. I likewise need to ensure that you get two or three rounds of changes. As a result of this it can
            become tedious on my part and I have to charge as needs be. In the event that you have a ton of tunes, I can
            give a break and begin to cut the cost down. Particularly if the melodies are all from a similar meeting and
            have comparable tones between them. Kindly don't hesitate to ask me more data with respect to this.
        </div>
    </div>
    <div class="section">
        <div class="question">Will my music be radio-ready after mastering?</div>
        <div class="answer">
            Yes, IF your mixing is reasonably well done. Music mastering is the final "polish" or "sheen" on a mix, but
            it's not a substitute for good mixing. That being said, I've worked on many CD's that have had less than
            stellar mixes that have turned out sounding amazing after leaving my mastering studio.</div>
    </div>

    {{>footer}}
    {{>scripts}}
</body>

</html>