<div class="footer">
            <div class="contain">
                <div class="icons">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-youtube"></i>
                </div>

                <button type="button" class="btn btn-lg btn-dark">Get Free Price Quotes</button>
            </div>


        </div>
        <div class="footer2">

            <div class="contain">
                <p>© Jamal Cole| All rights reserved</p>
                <div class="contact">
                    
                    <span><a href="mailto:info@improvetunes.com"><i class="fas fa-envelope"></i></a> Email</span>

                </div>
            </div>